__pycache__/
*.py[cod]
*$py.class

.venv/
.venv.*
env/
venv/

.pytest_cache/

alembic/versions/__pycache__/

node_modules/

dist/
build/
coverage/

vite.svg
.env
.env.*

*.log
.idea/
*.iml

.vscode/

.DS_Store
Thumbs.db

.codex/
.codex
.repomix/
/backend/backend.md
/frontend/frontend.md
